@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

.card {
	border: 0.1vw solid rgba(255, 255, 255, 0.489);
	border-radius: 2vh;
	background-color: rgba(255, 255, 255, 0.678);
	box-shadow: 0.2vh 0.2vh 2vh rgba(0, 0, 0, 0.313);
	/* width: 32%; */
	width: 18%;
	/* height: 300px; */
	/* height: 1%; */
	/* margin-top: 5px; */
	margin-top: 1%;
	/* margin-bottom: 5px; */
	margin-bottom: 0.4%;
	display: flex;
	flex-direction: column;
	height: 45vh;	
	justify-content: space-between;
	border-width: 3px;
	/* border-color: green; */
}

.gral {
	border: 0.1vh solid green;
	display: flex;
	flex-direction: column;
	/* width: 250px; */
}
.textCard {
	/* height: 80px; */
	/* height: 13vh; */
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nameGenres {
	/* width: 210px; */
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: flex-start;
}

.name {
	font-family: 'MerriWeather', sans-serif;
	display: flex;
	
	justify-content: center;
	/* font-size: 20px; */
	font-size: 30px;
	/* width: 430px; */
	/* width: 170%; */
	
	
	
}

.img {
	/* width: 430px; */
	width: 100%;
	font-size: 30;
	/* height: 200px; */
	
	/* overflow: hidden; */
	border-radius: 1.2vh 1.2vh 0px 0px;
	margin-top: 2%;
}

.genres {
	font-family: 'Poppins', sans-serif;
	/* display: flex; */
	/* align-items: start; */
}

.divRating {
	/* height: 25px; */
	height: 4vh;
	/* border: 2px solid purple; */
	background-color: orange;
	/* height: 30px; */
	/* width: 30px; */
	/* border-radius: 10%; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: black; */
	/* border-bottom-left-radius: 7px; */
	border-bottom-left-radius: 1.5vh ;
	/* border-bottom-right-radius: 7px; */
	border-bottom-right-radius: 1.5vh;
	
}
.rating{
	/* font-family: sans-serif; */
/* font-size: 16px; */
font-size: 100%;
/* letter-spacing: 2.2px; */
letter-spacing: 0.15vw;	
/* word-spacing: 0.4px; */
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
/* color: #000000; */
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
/* border-bottom-radius: 5px; */
}
.rating2{
	/* font-family: sans-serif; */
/* font-size: 16px; */
font-size: 100%;
/* letter-spacing: 2.2px; */
letter-spacing: 0.15vw;	
/* word-spacing: 0.4px; */
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
/* color: #000000; */
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
/* border-bottom-radius: 5px; */
}

.card:hover{
	border-color: rgb(209, 136, 0);
	/* border-width: 3px; */
	border-width: 0.7vh;
}

.juegos{
	display: flexbox;
	flex-direction: row;
	align-items: flex-end;
}