
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

.containerr{
    
    display: flex;
    height: 90vh;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly;    */
    /* font-family: sans-serif; */
    
   
    
  
    
}
.info{
    background-color:rgb(245, 244, 241);
    width: 100%;
}
.hola{ 
    display: flex;
    align-items: center;
    width: 49%;
    border-style:solid;
    /* border-width: 5px; */
    border-width:thick;
    border-color: black;
    /* background-color: black; */
    /* height: 360px; */
    height: 58.9vh;
    /* border-radius: 10px; */
    border-radius: 1.4vh;
    justify-content: flex-end;
    flex-direction: column;
    
    
}

.names{
    /* font-family:'Oswald',"proxima_nova","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; */
    letter-spacing:.03rem;  
    /* font-weight: 400px; */
    text-transform: uppercase;
    /* font-size: auto;  */
    /* line-height: 30px; */
    line-height: 80%;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em; */
    /* margin-inline-start: 40px; 
    */
    display: flex;
    align-items: center;
   justify-content:space-around;
   /* height: 150px; */
   height: 24vh;
   font-family: 'MerriWeather', sans-serif;
	
	/* font-size: 37px;   */
    font-size: 234%;

    /* width: 1350px; */
}

.sub{
    /* display: flex;
    align-items:; */
  
    /* font-size:18px; */
    font-size: 115%;
    /* line-height:14px; */
    display:inline-block;
    /* text-align: center; */
    /* height: 10px; */
    height: 1vh;
    /* margin-block-start: -30px; */
    margin-block-start: -10vh;
    color: rgb(87, 85, 87);
    /* padding:3px 0 */
    font-family: 'MerriWeather', sans-serif;
}

.imgrating{
    display: flex;
    flex-direction: row;
}
.ratingg{
    display: flex;
    background-color : orange;
    /* height: 130px; */
    height: 21vh;
    /* width: 130px; */
    width: 21vh;
    justify-content: center;
    align-items: center;
    color: white;
    /* border-radius: 10px; */
    border-radius: 2vh;
    font-family: Arial,Helvetica,sans-serif;
    /* font-size: 55px; */
    font-size: 150%;
    /* margin-inline-start: 400px; */
    margin-inline-start: 64vh;
    /* margin-block-start: 10px; */
    margin-block-start: 2%;
    /* font-family: 'MerriWeather', sans-serif; */

}
.text{
    background-color: rgb(97, 85, 105);
    /* border-radius: 10px; */
    border-radius: 1.4vh;
    border-style:solid;
    /* border-width: 5px; */
    border-width: 0.4vw;
    border-color: black;
    color: white;
    height: 100%;
    width: 50%;
    /* margin-left: 1px; */
    margin-left: 0.08vw;
    font-family: 'MerriWeather', sans-serif;
    /* font-size: 18px; */
    font-size: 113%;
    /* margin-inline-end: 10px; */
    margin-inline-end: 0.3vh;
}

.genress{
    /* font-size: 20px; */
    font-size: 55%;
    color: rgb(87, 85, 87);
}

.img2{
    display: flexbox;
    justify-content: center;
    align-content: center;
}
.porcent{
  display:flex;
  flex-direction:row;
  margin-right:20px;
  /* background-color: red; */
  border-radius: 5px;
  color:white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  width: 11vw;
  height: 6vw;
  margin-right: -10vw;
}
.lastprice{
    display: flex;
    align-items: center;
    margin-right: 4vw;
    
    font-size: 40px;
}
.imagennn{
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -3vw;
    margin-right: 3vw;
    /* background-color: blue; */
}
.sep{
    height: 1vh;
    background-color: red;
}
.bottom{
    height: 100vh;
    width: 100vw;
    background-color: white;
    border-width: 10vh;
    border-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.bottom p {
    color: #333;
    font-weight: 600;
}
.bottom1{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.bottom3{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleee{
    color:orange
}
.titleee:hover{
    color:black
}