@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


.background {
    height: 92vh;
    width: 100%;
    /* background: url("https://www.wallpaperflare.com/static/729/15/643/gameboy-minimalism-yellow-video-games-wallpaper.jpg"); */
    /* background-size: cover;

    display: flex;  
    justify-content: center;
    align-items: center;
    margin-bottom: -3%; */
}
.button{
  /* margin-block-start: -50vh; */
  position: relative;
  /* left:787px; */
        top:-12vh;
        width: 25vh;
        height: 10vh;
        border-radius: 10px;
        font-size: 23px;
        font-weight: 600;
        background-color: rgb(131, 18, 33);
        border-width: 0px;
        color:rgb(161, 143, 179)
}


.button:hover {
  cursor: pointer;
  
  transform-origin: center;
  text-shadow: 0 0 5px rgb(26, 25, 25);
  color:rgb(49, 113, 129);
  background: none;
  border-width: 1px;
  border-color:rgb(49, 113, 129);
  
};

