@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');

.imagen:hover{
/* margin-inline-end: 5px; */
height: 6vh;
/* height: 100px; */
}
.imagen{
  width: 3vw;
  /* margin-top: 1vh; */
}
.navBar {
    width: 98.6vw;
    height: 9vh;
    background: #da731a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: -110%; */
    /* text-decoration: none!important; */
    
   
}

.navBar div {
  /* width: 20%; */
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar h3 {
    /* text-decoration: none; */
    /* width: 55%; */
    height: 80%;
    color:rgba(255, 255, 255, 255);
    
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* font-size: 22px; */
    font-size: 137%;
    align-items: center;
    justify-content: flex-start;
}

.navBar h3:hover{
color: orange;
text-decoration: none;
}



.videogames h3{
  font-family: 'RocknRoll One', sans-serif;
}
.videogames:hover{
    background-color: tomato;
}
.searchbar {
  display: flex;
  /* margin-left: 20px; */
  /* margin-right: -10px; */
}


.searchbar input {
  /* height: 30px; */
  width: 45vw;
  height: 5.85vh;
  background-color: #111;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  border-radius: 4px;
  /* border: 0.3vh solid grey; */
  justify-content: space-between;
  border-color: rgb(143, 131, 131);
  border-width: 1px;
}

.searchbar form button {
  /* height: 30px; */
  height: 6.13vh;
  font-size: 18px;
  width: 5vw;
  /* height: 4.8vh; */
  border-radius: 4px;
  border: 1.5px solid rgb(143, 131, 131);
  background-color: #111;
  font-weight: 550;
  color: #333;
}

.searchbar input:hover {
  cursor:text;
  background-color: rgb(32, 32, 32);
  /* border-color: #333; */
  color: white;
}

.searchbar form button:hover {
  cursor: pointer;
  /* text-shadow:  0 0.5vh #fff0; */
  /* background-color: black; */
  color: white;
}
.home{
  background: none;
}