.home{
    display:flex;
    flex-direction: column;
    
    /* align-items:center; */
    /* align-content: center; */
    height: 99vh;
    /* background: white */
    text-decoration: none;
    background-color: #111111;
    height: 100%;
}
.gg2{
    width: 99vh;
}
.loading{
    width: 70%;
    height: 96vh;
    /* background-color: black; */
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-evenly;
    min-height:50%;
    border-width: 3px;
    border-color: white;
    position:fixed;
    /* overflow-y:scroll; */
    overflow-x:hidden;
}