.showing{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:space-evenly;
    width: 98.7vw;
    align-items: flex-end;
    flex-direction: column;
    
}

.loading{
    /* width: 500px; */
    width: 99vw;
}